  @media(max-width:568px){
    .navbar-nav{
      display:none;
    }
    #about{
      margin-top: 150px;
    }
    #about img{
        width: 100%;
    }
  }
  
  @media(min-width:568px){
    /*.open-slide{display:none}*/
  }